{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <li><a href="{% url 'create_project' %}">Create a project</a></li>
            <h1>My Projects</h1>
            {% if projectslist|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projects in projectslist  %}
                            <tr>
                                <td><a href="{% url 'show_project' projects.id %}">{{ projects.name }}</a></td>
                                <td>{{ projects.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            {% endif %}
        </table>
    </div>
    </main>
{% endblock content %}